
/* Golbals */
img {
    max-width: 100%;
}
.pad {
    padding: 0 20%;
}
body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}
h2 {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}
a {
    text-decoration: none;
    color: #f9faf8;
    margin-right: 10px;
}
ul {
    margin: 0;
    padding: 0;

}
li {
    list-style: none;
}
.main {
    margin: 0 auto;
}
.text {
    color: #e5e7eb;
    font-size: 18px;
}
.button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 16px;
    padding: 5px 30px;
    border-radius: 5px;
    
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    padding-top: 15px;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
}
.logo,
.nav {
    display: flex;
}
.navli {
    display: flex;
}
.m {
    font-size: 38px;
    font-weight: bolder;
    color: #3882f6;
}
/* Hero */
.hero {
    display: flex;
    background-color: #1f2937;
    padding-top: 48px;
    padding-bottom: 48px;
    column-gap: 15px;
    align-items: center;
}
.hero-content,
.hero-img {
    flex: 1;
}

/* Main */
.main-div {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 100px;
    padding-bottom: 100px;
}
.content {
    max-width: 125px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: light;
    padding-top: 100px;
    padding-bottom: 100px;
}
.aquote {
    text-align: right;
    font-weight: 700;
}
.img {
    border: 2px solid #3882f6;
    border-radius: 10%;
}
/* Final */
.final-content {
    background-color: #3882f6;
    margin: 80px -80px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 125px;
    border-radius: 10px;
    border: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.b2 {
    border: 2px solid #f9faf8;
}
.h3 {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;margin-bottom: 0;
}
.finalp {
    font-size: 16px;
    color: #e5e7eb;
    margin-top: 0;
}
.final1,
.final2 {
    padding-left: 80px;
    padding-right: 80px;
}

/* Footer */
.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 20px;
}
